<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/page-login-register.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:07 GMT -->
<head>
    <meta charset="utf-8">
    <title>Evara - eCommerce HTML Template</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/assets/css/maind134.css?v=3.4">
</head>

<body>
    <header class="header-area header-style-5">
        <div >
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-3 col-lg-4">
                        
                    </div>
                    <div class="col-xl-6 col-lg-4">
                        <div class="text-center">
                            <div id="news-flash" class="d-inline-block">
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4">
                      
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom sticky-bar sticky-white-bg">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1">
                        <a href="/"><img src="/assets/imgs/theme/logo.JPEG" alt="CyberCart"></a>
                    </div>
                 <div class="col-lg-5 mx-auto text-center">
                    <div class="main-menu main-menu-grow main-menu-padding-1 main-menu-lh-1 main-menu-mrg-1 hm3-menu-padding d-none d-lg-block hover-boder">
                        <nav>
                            <ul>
                                <li><a class="active" href="/">Home </a>
                                  
                                </li>
                                <li><a href="/shop">Shop </a>
                                  
                                </li>
                              
                              
                                <li><a href="#">About </a>
                                
                                </li>
                                <li>
                                    <a href="page-contact.html">Contact</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                 </div>
                    <div class="header-action-right">
                        
                        <div class="header-action-2">
                            <div class="header-action-icon-2">
                                <a href="/wishlist">
                                    <img class="svgInject" alt="Evara" src="/assets/imgs/theme/icons/icon-heart.svg">
                                    
                                </a>
                            </div>
                            <div class="header-action-icon-2">
                               
                                <a class="mini-cart-icon" href="/cart">
                                    <img alt="Evara" src="/assets/imgs/theme/icons/icon-cart.svg">
                                    
                                </a>
                              

                            </div>
                            <div class="header-info header-info-right">
                                <ul>
                                    
                                    <% if (locals.user) { %>
                                 
                                        <!-- Displayed when the user is logged in -->
                                        <li class="dropdown nav-item">
                                            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false">
                                                <img alt="Evara" src="/assets/imgs/theme/icons/man.png" style="width: 30px; height: 30px;">

                                            </a>
                                            
                                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                                              <a class="dropdown-item" href="/profile"><i class="material-icons md-perm_identity"></i> Profile</a>
                                              <div class="dropdown-divider"></div>
                                              <a class="dropdown-item text-danger" href="/logout"><i class="material-icons md-exit_to_app"></i> Logout</a>
                                            </div>
                                          </li>
                                        
                                      <% } else { %>
                                        <!-- Displayed when the user is not logged in -->
                                        <div class="single-mobile-header-info ml-25 pr-5">
                                          <a href="/login">Login </a>
                                        </div>
                                      <% } %>
                                </ul>
                            </div>


                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>