
<%- include("../partials/header") %>




 



    <main class="main single-page">
       
        <section class="section-padding">
            <div class="container pt-25">
                <div class="row">
                    <div class="col-lg-6 align-self-center mb-lg-0 mb-4">
                        <h6 class="mt-0 mb-15 text-uppercase font-sm text-brand wow fadeIn animated">About CyberCart</h6>
                        <h1 class="font-heading mb-40">
                            CyberCart is a fully functioning E-commerce website to sell demoproducts(Laptops)
                        </h1>
                     
                        <p>
                            "CyberCart, an eCommerce platform built with JavaScript, Express.js, EJS, HTML, CSS, Bootstrap, and MongoDB, offers a seamless experience for purchasing laptops. With a user-friendly interface and robust backend, it simplifies online shopping, providing customers with a diverse range of laptop options." </p>
                    </div>
                    <div class="col-lg-6">
                        <img src="assets/imgs/page/about-1.png" alt="">
                    </div>
                </div>
            </div>
        </section>

        <br><br><br> <br><br><br>
      


      






    </main>

    <%- include("../partials/footer") %>