<%- include("../partials/header") %>

<div class="col-lg-4 offset-lg-4   ">
    <div class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
        <div class="padding_eight_all bg-white">
            <div class="heading_s1">
                <h3 class="mb-30">Enter your Email</h3>
            </div>
            <form method="post" action="/forgetpassword">
                <% if(locals.message) { %>
                    <div class="alert alert-danger"> <%= locals.message %></div>
                      <% } %>
                <div class="form-group">
                    <input type="text" required="" name="email" placeholder="Your Email">
                </div>
             
              
                <div class="form-group">
                    <button type="submit" class="btn btn-fill-out btn-block hover-up" name="login">Enter</button><br>
                    
                </div>
            </form>
        </div>
    </div>
</div>




<%- include("../partials/footer") %>