<%- include("../partials/header") %>

<div class="col-lg-4 offset-lg-4   ">
    <div class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
        <div class="padding_eight_all bg-white">
            <div class="heading_s1">
                <h3 class="mb-30">Enter your Email</h3>
            </div>
            
                
                    <div id="error" class="alert alert-danger" style="display: none;"> </div>
                 
                <div class="form-group">
                    <input type="text" required="" id="email" name="email" placeholder="Your Email">
                </div>
             
              
                <div class="form-group">
                    <button type="submit" id="btn" class="btn btn-fill-out btn-block hover-up" name="login">Enter</button><br>
                    
                </div>
            
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    const errorInput = document.getElementById("error");
    const emailInput = document.getElementById("email");
    const button = document.getElementById("btn");

    button.addEventListener("click",function(event){
        email = emailInput.value.trim();
        $.ajax({
            url:"/forgetpassword",
            method:"POST",
            data:{
                email:email
            },
            success:function(response){
               window.location.href = response.redirect;


            },
            error:function(xhr){
                if (xhr.responseJSON && xhr.responseJSON.message) {
               
                errorInput.textContent = xhr.responseJSON.message;
                errorInput.style.display = "block";
                setTimeout(() => {
                    errorInput.textContent = "";
                errorInput.style.display = "none";
                    
                }, 2000);
            } else {
                
                errorInput.textContent = "An error occurred while processing your request.";
                errorInput.style.display = "block";
            }


            }

        })
    })



</script>




<%- include("../partials/footer") %>