<%- include("../partials/header") %>

<div class="col-lg-4 offset-lg-4">
    <div class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
        <div class="padding_eight_all bg-white">
            <div class="heading_s1">
                <h3 class="mb-30">Enter The OTP</h3>
            </div>
            <form method="post" action="/verifyotp">
                <% if(locals.message) { %>
                    <div class="alert alert-danger"> <%= locals.message %></div>
                <% } %>

                <div class="form-group">
                    <input type="text" required="" name="otp" id="otp" placeholder="Enter OTP">
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-fill-out btn-block hover-up" name="login">Enter</button><br>
                </div>
            </form>
            <form action="/resendotp" method="post">
                <button type="submit" id="resendButton" style="border: none; background: white; color: black; text-decoration: underline; cursor: pointer;" disabled>Resend</button>
            </form>
            <script>
                var timeLeft = 30; 
                var resendButton = document.getElementById('resendButton');
                var timerId = setInterval(countdown, 1000);

                function countdown() {
                    if (timeLeft == 0) {
                        clearTimeout(timerId);
                        resendButton.innerHTML = 'Resend';
                        resendButton.disabled = false;
                    } else {
                        resendButton.innerHTML = 'Resend in ' + timeLeft + ' seconds';
                        timeLeft--;
                    }
                }
            </script>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>






