<%- include("../partials/header") %>

<div class="col-lg-4 offset-lg-4">
    <div class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
        <div class="padding_eight_all bg-white">
            <div class="heading_s1">
                <h3 class="mb-30">Enter The OTP</h3>
            </div>
            
                
                    <h5 style="color: red;" id="error-alert"></h5>
               

                <div class="form-group">
                    <input type="text" required="" name="otp" id="otp" placeholder="Enter OTP">
                </div>

                <div class="form-group">
                    <button type="submit" id="enter-btn" class="btn btn-fill-out btn-block hover-up" name="login">Enter</button><br>
                </div>
           
         
                <button type="submit" onclick="resendOtp()" id="resendButton" style="border: none; background: white; color: black; text-decoration: underline; cursor: pointer;" disabled>Resend</button>
            
                
            
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
    var timeLeft = 30; 
    var resendButton = document.getElementById('resendButton');
    var timerId = setInterval(countdown, 1000);

    function countdown() {
        if (timeLeft == 0) {
            clearTimeout(timerId);
            resendButton.innerHTML = 'Resend';
            resendButton.disabled = false;
      


        } else {
            resendButton.innerHTML = 'Resend in ' + timeLeft + ' seconds';
            timeLeft--;
        }
    }


    

    function resendOtp(){
        event.preventDefault();
        $.ajax({
            url:"/forgetpassword/resend",
            method:"POST",
            success:function(response){
                console.log("response :",response);

            },
            error:function(xhr){
                Swal.fire("Error on otp resend");

            }
        })

    }

  
  
    document.getElementById("enter-btn").addEventListener("click", function(event) {
    const otp = document.getElementById("otp").value.trim();
    console.log("otp : ", otp);
    event.preventDefault();
    $.ajax({
        url: "/forgetpasswordverify",
        method: "POST",
        data: {
            otp: otp
        },
        success: function(response) {
            console.log("response : ", response);
            if (response.message == "Otp Validate Successfully !!!") {
                window.location.href = "/passwordresetpage";
            } else if (response.message == "Ivalid otp") {
             
                var errorAlert = document.getElementById("error-alert");
            
                    errorAlert.textContent = "Invalid otp"
               
            }
        },
        error: function(xhr) {
            console.log("xhr : ", xhr);
        }
    });
});

</script>

<%- include("../partials/footer") %>

