<%- include("../partials/header") %>

<div class="col-lg-4 offset-lg-4   ">
    <div class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
        <div class="padding_eight_all bg-white">
            <div class="heading_s1">
                <h3 class="mb-30">Enter your New Password</h3>
            </div>
            <form method="post" action="/passwordreset">
                <% if(locals.message) { %>
                    <div class="alert alert-danger"> <%= locals.message %></div>
                      <% } %>
                      <div class="form-group">
                        <input required="" type="password" name="password" id="password1" placeholder="Password" onkeyup="validatePassword()">
                        <div id="password_error" class="alert alert-danger" style="display: none;"></div>
                    </div>
                    <div class="form-group">
                        <input required="" type="password" name="confirmpassword" id="password2" placeholder="confirm Password" onkeyup="validateConfirmPassword()">
                        <div id="confirmPassword_error" class="alert alert-danger" style="display: none;"></div>
                    </div>
                    
             
              
                    <button type="submit" class="btn btn-fill-out btn-block hover-up" onclick="validateBothPassword(event)" id="btn" name="login">Enter</button><br>

            </form>
        </div>
    </div>
</div>

<script>
    const password = document.getElementById("password1");
    const confirmPassword = document.getElementById("password2");

    const password_error = document.getElementById("password_error");
    const confirmPassword_error = document.getElementById("confirmPassword_error");

    function validatePassword() {
    const minLength = 6;
    const hasNumber = /\d/;
    const hasCharacter = /[a-zA-Z]/;
    const hasSpecialCharacter = /[!@#$%^&*(),.?":{}|<>]/;

    const passwordValue = password.value.trim();

    const isPasswordValid = (
        passwordValue.length >= minLength &&
        hasNumber.test(passwordValue) &&
        hasCharacter.test(passwordValue) &&
        hasSpecialCharacter.test(passwordValue)
    );

    if (!isPasswordValid) {
        password_error.style.display = "block";
        password_error.style.color = "red";
        password_error.textContent = "Password must have at least 6 characters, 1 number, 1 character, and 1 special character";
        return false;
    } else {
        password_error.style.display = "none";
        return true;
    }
}


function validateConfirmPassword() {
    const passwordValue = password.value.trim();
    const confirmPasswordValue = confirmPassword.value.trim();

    if (passwordValue !== confirmPasswordValue) {
        confirmPassword_error.style.display = "block";
        confirmPassword_error.style.color = "red";
        confirmPassword_error.textContent = "Passwords do not match";
        return false;
    } else {
        confirmPassword_error.style.display = "none";
        return true;
    }
}

function validateBothPassword(event){
    const isPassword = validatePassword();
    const isConfirm   = validateConfirmPassword();
    if(!isPassword || !isConfirm){
        event.preventDefault();
    } 
}






</script>




<%- include("../partials/footer") %>