<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>404 Error</title>
</head>

<style>
    body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f8f9fa;
}

.container {
    text-align: center;
}

h1 {
    font-size: 4em;
    color: #dc3545;
}

p {
    font-size: 1.5em;
    color: #343a40;
}

a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2em;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #088178;
}

</style>
<body>
    <div class="container">
        <h1>404 Error</h1>
        <p>Oops! The page you are looking for might be in another universe.</p>
        <a href="/">Go to Home</a>
    </div>
</body>
</html>
